@charset "utf-8";
/* CSS Document */
body, p, h1, h2 {
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100%;
    height: 100%;
    color: #6b6f81;
    font-size: 14px;
}
p{
    font-weight: 300;
}
/*********Header Start*****************/
.live-chat {
    background: #2498D2;
    color: #fff;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 20
}

.animated-bg {
    /*background: url('../img/everybody is somebody main banner.png') no-repeat;*/
    background-size: 236%;
    background-position-x: -214px;
    background-position-y: 40px;
    overflow-y: visible;
    position: absolute;
    height: 110vh;
    z-index: 0;
    width: 100%;
}
.header-section {
    position: relative;
    z-index: 10;
    background-image: linear-gradient(rgba(0,0,0,0.5), transparent);
    height: 60vh;
    padding-top: 30px;
}
.header-content {
    margin-top: -30px;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.ab-services {
    margin: 50px auto;
    max-width: 900px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}
.ab-services > .row > .col-md-3 > div {
    transition: 1s;
    box-shadow: 7px 7px 20px rgba(0,0,0,0.2);
    height: 190px;
    max-width: 100%;
    margin: auto;
    padding: 25px 15px 15px 15px;
    border-radius: 10px;
}
.ab-services > .row > .col-md-3 > div > p {
  font-size: 10px;
  padding-top:10px;
}

/**CI**/
.ab-jumbo-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #88BC47;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.10);
    line-height: normal;
    float: none;
}
.ab-jumbo-discription {
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.10);
    line-height: 1.7rem;
    margin: 10px auto 25px;
    margin-top: -18px;
}
.ab-jumbo-discription > span {
    font-size: 61px;
    font-weight: bold;
    color: #88BC47;
}
.primary-btn > a > button {
    background: #88BC47;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    font-size: 14px; 
    font-weight: bold;
    margin-bottom: 10px;
}
.primary-btn > a > button:hover {
    background-color: #A2DD58;
    border: none;
    color: white;
    box-shadow: 0px 7px 10px #00000029;
}
.primary-btn > a > button:hover {
    transition: 0.5s;
    box-shadow: 1px 3px 7px rgba(0,0,0,.16);
    border: none;
}
.secondary-btn-dark > a > button {
    transition: 0.5s;
    background: none;
    color: #fff;
    padding: 10px 35px;
    border: 1px solid #fff;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
}
.secondary-btn-dark > a > button:hover {
    transition: 0.5s;
    background: rgba(255,255,255, 0.05);
    box-shadow: 1px 3px 7px rgba(0,0,0,.16);
    border: none;
}    
.ab-services > .row > .col-md-3 > div:hover {
    height: 200px;
    transition: 1s;
}
.ab-services > .row > .col-md-3 {
    width: 50%;
    margin: auto;
    /*padding: 6px;*/
}
/********Slider Start*********/
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: -15px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    color: #fff;
    text-align: center;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -20px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.slider-gradient {
    position: relative;
    display: block;
}
.slider-gradient:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: transparent linear-gradient(rgba(0,0,0,0.5), rgba(255,255,255,0.05)) 0% 0% no-repeat padding-box;
}
.slider-gradient img {
   display: block;
}
/*******Slider Ends******/
/*********Services******/
.ab-bank-service {
    background-image: linear-gradient(#002D64, #001631);
    color: #fff;
}
.ab-borrow-service {
    background-image: linear-gradient(#576F8B, #293747);
    color: #fff;
}
.ab-invest-service {
    background-image: linear-gradient(#A0B508, #BED130);
    color: #fff;
}
.ab-insure-service {
    background-image: linear-gradient(#576F8B, #7695B8);
    color: #fff;
}
/*****************Header End*************************/

/***************** Navbar Start *****************/
.custom-nav {
    background: #002b60;
}
.megamenu {
    position: static;
}
.megamenu > .dropdown-menu {
   width: 100%;
   top: 98px;
   border: none;
   border-radius: 0;
   box-shadow: 0 10px 14px 0 rgba(69,73,91,.08);
   padding: 25px 0 45px 0;
   background: #002b60;
}
.mega-menu-product .product-category {
    text-transform: uppercase;
    color: #88bc47;
    margin-bottom: 30px;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
}
.mega-menu-product .product .title {
    color: #fff;
    margin-bottom: 0;
    font-size: 12px;
}
.mega-menu-product .product .descr {
    font-weight: 300;
    color: #88bc47;
    font-size: 8px;
    margin-bottom: 15px;
}
.mega-menu-product .product:before {
    font-family: "FontAwesome" !important;
    content: "";
    display: table-cell;
    padding-right: 20px;
    color: #fff;
}
.mega-menu-product .product {
    display: table;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-weight: 500;
}

.navbar-dark .navbar-nav > li > a {
    font-size: 11px;
    color: #fff;
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: 200;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.navbar-dark .navbar-nav > li > a.round-button {
    background: none;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 3px;
    color: #88bc47;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 13px;
    margin-bottom: 10px;
    /*border: 1px solid white;
	border-radius:20px;*/
    width: 62px;
    font-weight: 600;
    border-bottom: 1px solid #88bc47;
}
.navbar-dark .navbar-nav > li > a.login-button {
     margin-bottom: 6px;
}
.mega-menu-product {
    font-weight: normal;
    padding-right: 30px;
    /*border-right: 1px solid #fff !important;*/
    height: 100%;
}
.button-padding {
    padding-right: 15px;
}
.navbar-brand {
    height: 65px;
    padding: 20px 0px 20px 20px;
    margin-left: -30px !important;
}
/********* Navbar End *********/
/******* Body Section 1 Starts*****/
.ab-below-fold-section, .ab-light-blue-section {
    background-size: cover;
    background-position-y: 0px;
    background-position-x: -50px;
    padding: 112px 0px 75px;
    width: 100%;
}
.section-a {
    margin: auto;
    padding: 0px;
}
.ab-section-title {
    color: #002B60;
}
.ab-section-title-myworld {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    text-align:center;
}
.ab-section-title, .ab-section-white-title {
    font-size: 40px; /*2.5rem;*/
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.10);
    line-height: 3rem;
    float: none;
    text-align:center;
}
.section-content {
    padding-top: 25px;
}
.ab-section-discription {
    font-size: 20px; /*1.1rem;*/
    font-weight: bold;
    color: #88BC47;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.10);
    line-height: 1.8rem;
    margin: 10px auto 25px;
}
.ab-section-discription > p > span {
    border-bottom: #1E9FF2 solid 4px;
}
.ab-section-discription > p{
    font-weight: bold !important;
    text-align: center;
}
.ab-section-discription > p >a{
    color: #002b60;
    text-decoration: none;
}
.ab-section-discription-myworld {
    font-size: 20px; /*1.1rem;*/
    font-weight: bold;
    color: #88BC47;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.10);
    line-height: 1.9rem;
    margin: 10px auto 25px;
}
.ab-section-discription-myworld > p > span {
   border-bottom: #1E9FF2 solid 4px;
}

.ab-body-desc-myworld {
    color: #fff !important; 
}
.special-margin {
    margin-top: 260px; 
}
.instant-loan{
	text-align:center;
}
.ab-section-discription-myworld > p {
	font-weight: bold !important;
	text-align:center;
}
/***** Body Section 1 Ends *****/
/*********Body Section 2 Starts************/
.myworld-button-padding {
    padding-bottom: 0px;
    text-align: center;
}

.section-artwork {
    text-align: center;
}
/***** Body Section 3 Starts*****/
.ab-below-fold-section {
   /* background: url(../img/grey-background.png) no-repeat;*/
}
/***** Body Section 3 Ends*****/
/***** Body Section 4 Starts*****/
.ab-section-white-title {
    color: #fff;
}
/*.ab-section-title, .ab-section-white-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.10);
    line-height: 3rem;
    float: none;
}*/
.ab-form-label {
    width: 230px;
    text-align: center;
}
.ab-light-blue-section {
    color: #fff;
    /*background: url(../img/light-blue-background.png) no-repeat;*/
}
.ab-input-field {
    margin-bottom: 25px;
    margin-left: 15px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    padding: 7px 15px;
    border: solid 1px #E4E4E4;
}
.dropdown-special {
    width: 300px;
    margin-right: 20px;
}
.ab-select-field {
    /*background: #fff url(../img/dropdown-icon.png) no-repeat;*/
    background-position: 94% 50%;
    background-size: auto;
    font-size: 13px;
    margin-bottom: 25px;
    margin-left: 15px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    padding: 14px 40px 7px 15px;
    border: solid 1px #E4E4E4;
    -webkit-appearance: none;
}
.dropdown-menu {
    border: none;
    border-radius: 10px;
    transition: 1s;
    box-shadow: 1px 3px 15px rgba(0,0,0,0.2);
    font-size: 13px;
    width: 310px;
    /*border-right: 1px solid #fff !important;*/
}
.dropdown-toggle {
    color: #000;
    font-weight: 400;
}
.ab-select-field:hover {
    transition: 1s;
    box-shadow: 1px 3px 7px rgba(0,0,0,0.15);
}
.dropdown-toggle::after {
    display: none;
}
a:hover {
    transition: 1s;
    color: black;
    text-decoration: none !important;
    font-weight: 600;
}
.dropdown-toggle:hover {
    color: #000;
    font-weight: 400 !important;
}
.special-color {
    color: #fff;
}
input:focus, button:focus {
    outline: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/***** Body Section 4 Ends*****/

/***** Blog Section Start *****/
.section-blog {
    opacity: 1;
    margin-bottom: 1px;
    padding-top: 40px;
}
.blog-title {
    font-size: 40px; /*2.5rem;*/
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    /*padding-top: 43px;*/
}
.blog-discription {
    font-size: 19px; /*1.5rem;*/
    font-weight: bold;
    color: #88BC47;
    margin-bottom: 80px;
    line-height: 1.3;
    padding-top: 5px;
}
.blog-discription > p > span {
     border-bottom: #1E9FF2 solid 4px;
}
.blog-discription > p {
	font-weight: bold !important;
}
.blog-first-box{
	left: 171px;
	background: transparent url() 0% 0% no-repeat padding-box;
	border-radius: 10px 10px 0px 0px;
	opacity: 1;
}
.blog-second-box{
	left: 526px;
	background: transparent url() 0% 0% no-repeat padding-box;
	border-radius: 10px 10px 0px 0px;
	opacity: 1;
}
.blog-third-box{
	left: 881px;
	background: transparent url() 0% 0% no-repeat padding-box;
	border-radius: 10px 10px 0px 0px;
	opacity: 1;
}
.ab-thumbnail-card {
    color: #fff;
    padding-top: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ab-thumbnail-desc {
    color: #fff;
    font-size: 12px !important; /*0.7rem*/
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    height: 35px;
}
.ab-blog-button > a > button {
    transition: 0.5s;
    background: none;
    color: #fff;
    padding: 10px 35px;
    border: 1px solid #fff;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
}
.ab-viewmore-button > a > button {
    transition: 0.5s;
    background: #02234E 0% 0% no-repeat padding-box;
    color: #fff;
    padding: 10px 35px;
    border: 1px solid #032C60;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 34px;
    margin-bottom: 96px;
}
.ab-blog-button > a > button:hover {
    background-color: #A2DD58;
    border: none;
    color: white;
    box-shadow: 0px 7px 10px #00000029;
}
.ab-box {
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 10px 10px;
}
/***** Blog Section End *****/
/***** Testimonial start******/
.overlay-img {
    width: 100%;
    display: none;
    transform: translateX(+20%);
    z-index: 999;
    height: 100%;
}
.test-header {
    font-size: 17px; /*1.5rem;*/
    font-weight: bold;
    color: #88BC47;
    line-height: 1.3;
}
.test-desc {
    padding: 20px;
    padding-top: -40px;
    padding-left: 60px;
    padding-right: 50px;
    color: #6bgf82;
    font-size: 14px;
    text-align: left;
    line-height: 30px;
}
.ab-test-title {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #002B60;
    opacity: 1;
    padding-top: 65px;
}
.ab-test-desc {
    width: 622px;
    height: 392px;
    background: transparent linear-gradient(180deg, #6B6F82 0%, #4A506C 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 20px #00000040;
    opacity: 1;
}
.ab-test-footer {
    color: #6B6F82;
    font-size: 18px;
    text-align: left;
}
.ab-test-border {
    border-bottom: 4px solid rgb(30, 159, 242);
    width: 75px;
    height: 4px;
    margin-top: 10px;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.ab-test-adjust {
    padding-bottom: 85px;
}

/***** Testimonial End *****/
/***Footer part start *****/
footer {
  font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  background-color: #002b60;
  color: #ffffff;
  padding: 80px 0 50px 0;
  height: auto;
  font-weight: 200;
  overflow: hidden;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}
footer a:focus, footer a:active {
  color: #ffffff;
  text-decoration: none;
}
footer a:hover {
  color: #ffffff;
  text-decoration: underline; 
}
footer ul {
  padding-left: 0;
  margin-bottom: 0;
}
footer ul li {
  list-style: none;
  margin-top: 20px; 
}
footer .footer-category .heading {
  text-transform: uppercase;
  font-weight: 600; 
}
footer .footer-contact {
  font-size: 24px;
  font-weight: 100;
  color: #ffffff; 
}
footer .footer-contact li {
  display: table; 
}
footer .footer-contact li .icon {
  display: table-cell;
  margin-right: 10px;
  width: 25px;
  height: 26px; 
}
footer .footer-contact li span {
  display: table-cell; 
}
footer .footer-contact .heading {
  font-weight: bold;
}
footer .footer-copyright {
  border-top: 1px solid #89bb4f;
  font-size: 9px;
  margin-top: 60px;
  padding-top: 30px;
}
footer .footer-copyright .copyright-text {
  font-size: 10px;
  font-weight: 200;
  margin-top: 30px; 
}
footer .footer-copyright .pattern {
  position: absolute;
  bottom: -35px;
}
footer .footer-social {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  background-color: #002b60;
  border: solid 1px #88bc47;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.03);
  color: #88bc47;
  padding: 15px;
  margin-left: 5px;
  text-align: center;
  font-size: 18px; 
}
footer .footer-social:hover {
  color: #ffffff;
}
/********Footer Part end*********/
/******Home Icon css start********/
.nav-home-icon {
    color: #88bc47;
    font-size: 14px;
}

/******Home Icon end*********************/
/******Search Part start*****************/
.area_search {
    margin-top: 1.5%;
}

.global-search-bar {
    position: absolute;
    width: 99.9%;
    z-index: 9999;
    top: 0px;
    background-color: #002B60;
    height: 109px;
    padding-right: 10px;
    padding: 6px 10px 5px;
    display: none;
    left: 16px;
}

.search-text {
    margin-right: 1%;
}

.global-search-new-close-btn {
    top: 20px;
    background-image: url('../images/icon_close_search_bar.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 29px;
    height: 29px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 34px;
    float: right;
    cursor: pointer;
    position: absolute;
    right: 0px;
}
.global-search-bar .global-search-results ul > li > a {
    color: #999;
}

.global-search-bar input {
    background-color: white !important;
    border: none !important;
    box-shadow: none;
    color: #002B60;
    width: calc(100% - 90px);
    margin: 30px 30px 5px 5px;
    font-size: 14px;
}

#site_search input:focus {
    outline: none;
}

#site_search ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
    font-size: 2rem;
}

#site_search ::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
    font-size: 2rem;
}

#site_search :-ms-input-placeholder {
    /* IE 10+ */
    color: white !important;
    font-size: 2rem !important;
}

#site_search :-moz-placeholder {
    /* Firefox 18- */
    color: white;
    font-size: 2rem;
}

#site_search .form-control:focus {
    outline: none;
}

.global-search-bar .global-search-results {
    background-color: #fff;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
    display: none;
    margin: 0;
    padding: 1rem;
    position: absolute;
    top: 105px;
    right: 0;
    left: 0;
    z-index: 1;
}

.global-search-bar .global-search-results ul {
    line-height: 20px;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 12px;
    float: left !important;
    white-space: pre;
}
.global-search-results > .container-fluid > .row > .col-12 > h5 {
    font-size: 14px;
    white-space: pre;
    margin-left: -3px;
}

#search_results {
    background: white;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    overflow: auto;
}

li > a.searchtext {
    white-space: initial;
    overflow-wrap: anywhere;
}
a .search-text {
    display: inline-block !important;
    margin-right: 3px;
}
.search-text-icon {
    display: inline-block !important;
    margin-right: 0px;
}
/******Search Part End*****************/



