.campaign-more-container {
    background-color: #f7f7f7;
    padding-bottom: 30px;
    position: relative;

    .hover-block {
        background: #ffffff;
        height: 60px;
        width: 100%;
        position: absolute;
        z-index: 9;
        top: 0;
    }
}

.campaign-list {
    margin-bottom: 40px;

    ul {
        list-style: none;
        padding: 0 15px;
        margin-top: 30px;
    }

    li {
        &:first-child {
            .download-item {
                border-top: 1px solid #e4e5ec;
            }
        }
    }

    &.text-only {
        margin-bottom: 0;

        ul {
            margin-bottom: 0;
            margin-top: 0;
        }

        li {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    .download-item {
        font-weight: 400;
        padding: 5px 10px;
        border-bottom: 1px solid #e4e5ec;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .download-btn {
        padding: 9px 30px;
        border-radius: 100px;
        background-color: #88bc47;
        color: #ffffff;
        font-weight: 400;
        font-size: 12px;
        display: inline-block;
        float: right;

        &:hover,
        &:active,
        &:focus {
            color: #ffffff;
            text-decoration: none;
        }
    }
}

.campaign-more-info-img {
    height: 100%;
    background-image: url("../images/campaign-more-info.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.campaign-more-highlights {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 10px 14px 0 rgba(69, 73, 91, 0.08);
    padding: 35px;
    text-align: center;
    height: 100%;
}

.campaign-terms {
    text-align: center;
    font-size: 12px;
}

.campaign-image-block {
    h4 {
        font-size:18px;
        text-transform:uppercase;
        font-weight:400;
        margin-bottom:16px;
    }
    img {
        margin-bottom:25px;
    }
    p {
        line-height:1.71;
        font-size:14px;
    }
}

@media (max-width: 767px) {
    .campaign-more-highlights {
        margin-top: 10px;
    }

    .campaign-list {
        margin-bottom: 10px;

        &.mobile-styling {
            margin-bottom: 0;

            ul {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        &.text-only {
            li {
                text-align: left;
            }
        }

        .download-item {
            display: block;
            text-align: center;
            padding: 15px;
        }

        .download-btn {
            float: none;
            margin-top: 13px;
        }
    }
}

