footer {
    font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    background-color: #002b60;
    color: #ffffff;
    padding: 80px 0 50px 0;
    height: auto;
    font-weight: 200;
    overflow: hidden;

    a {
        color: #ffffff;
        text-decoration: none;

        &:focus, &:active {
            color: #ffffff;
            text-decoration: none;
            }

            &:hover {
                color: #ffffff;
                text-decoration: underline;
        }
    }

    ul {
        padding-left: 0;
        margin-bottom: 0;

        li {
            list-style: none;
            margin-top: 20px;
        }
    }

    .footer-category {
        .heading {
            text-transform: uppercase;
            font-weight: 600;
        }
    }

    .footer-contact {
        font-size: 24px;
        font-weight: 100;
        color: #ffffff;

        li {
            display: table;

            .icon {
                display: table-cell;
                margin-right: 10px;
                width: 25px;
                height: 26px;
            }

            span {
                display: table-cell;
            }
        }

        .heading {
            font-weight: bold;
        }
    }

    .footer-copyright {
        border-top: 1px solid #89bb4f;
        font-size: 9px;
        margin-top: 60px;
        padding-top: 30px;

        .copyright-text {
            font-size: 10px;
            font-weight: 200;
            margin-top: 30px;
        }

        .pattern {
            position: absolute;
            bottom: -80px;
        }
    }

    .footer-social {
        width: 48px;
        height: 48px;
        border-radius: 4px;
        background-color: #002b60;
        border: solid 1px #88bc47;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.03);
        color: #88bc47;
        padding: 15px;
        margin-left: 10px;
        text-align: center;
        font-size: 18px;

        &:hover {
            color: #ffffff;
        }
    }
}

@media (max-width: 767px) {
  footer {
    text-align: center;

    ul {
      margin-bottom: 50px;
    }

    .footer-category {
      &:first-child {
        padding-left: 15px;
      }

      &:last-child {
        padding-right: 15px;
      }
    }

    .footer-copyright {
      padding: 30px 0 0 0;

      .copyright-text {
        font-size: 12px;
        margin-top: 35px;
      }

      .pull-right {
        float: none !important;
      }

      .pattern {
        left: 0;
        bottom: auto;
        top: -140px;
      }
    }

    .footer-social {
      margin-bottom: 40px;

      &:first-child {
        margin-left: 0;
      }
    }

    .footer-contact {
      font-size: 18px;
      font-weight: 300;

      li {
        display: block;

        .icon {
          display: block;
          margin: 0 auto 10px;
        }

        span {
          display: block;
        }
      }

      .heading {
        font-weight: bold;
      }
    }
  }
}