.tech-deals {
    &__buttons {
        text-align:center;
        padding:42px 12px 0px;
        a {
            display:inline-block;
            margin:0 16px;
            div {
                width:190px;
            }
        }
    }
}

@media (max-width: 767px) {
    .tech-deals {
        &__buttons {
            padding-top:0;
            margin-bottom:20px;
            a {
                width:100%;
                margin-left:0;
                margin-right:0;
                div {
                    
                }
            }
        }
    }
}