/*START----------------Hero content alignments----------------------*/
.align-center{text-align:center;}
.content-padding-10{padding:10px;}
.content-padding-15{padding:15px;}
.content-padding-20{padding:20px;}
.content-padding-25{padding:25px;}
.content-padding-30{padding:30px;}
.content-padding-35{padding:35px;}
.content-padding-40{padding:40px;}
.content-padding-45{padding:45px;}
/*END----------------Hero content alignments----------------------*/

.background-interest-selected {
    background-color: #4c6a8f;
    color: #fff !important;
    border-bottom-color: #f8f8f800 !important; /* border colorless */
    border-top-color: #f8f8f800 !important; /* border colorless */
}

/*START  --------------- Calculator Selected Column ---------------- */

.background-interest-selected {
    background-color: #4c6a8f;
    color: #fff !important;
    border-bottom-color: #f8f8f800 !important; /* border colorless */
    border-top-color: #f8f8f800 !important; /* border colorless */
}

/*END ------------------ Calculator Selected Column ---------------- */

/* Start Danger aleart pink to red for calculators */
.alert-danger {
    background-color: red;
    border-color: red;
}
/* End Danger aleart pink to red for calculators */

/*START----------------Grow for it----------------------*/

.grow-for-it .video-card-title{
 color: #002B60;
 font-weight: 600;
}
.grow-for-it .video-card-description {
 font-size: 18px;
 line-height: 28px;
}
.grow-for-it .video-card-image {
 height: 318px;
 background-repeat: no-repeat;
 background-size: cover;
}
.grow-for-it h3 {
 margin-bottom: 30px;
}
.grow-for-it .row {
 margin-bottom: 35px !important;
}
/*END----------------Grow for it----------------------*/

.hero-static-caption {
	display:grid;
}
.hero-caption{
background: none; !important;
}
.global-search-bar { /*start Feb_14 */
    display: none;
} 
.text-white {color: white !important;}
.center-align {text-align: center !important;}
.right-align {left: 80% !important; width:unset;}
.image-center-resizer {width: 53%;}
/* Start Banking (My World) Banking - for Mobile */

.hero-static-caption .button {
		width: 100%;
		margin-top: -7px;
	}
	.row {margin-bottom: 0px !important;}
	
	/*.hero-static-banner {
            height: 440px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
        } */
	.col-md-9 {margin-bottom: 24px;}/*consider removing this shit */
	.floating-button, .span-buttons, .key-messaging-image-view {
		float: none;
		display: table;
		margin: 0 auto;
	}
	.black-card, .silver-card {
		margin: 25px 0px 0px -29px;
		float: none;
		display: table;
		right: -9%;
		padding-bottom: 20px;
	}
	.green-button {
		float: none;
		display: table;
		margin: 0 auto;
	}
	/*#btnFeaturesTable {display: none;}*/
	.black-card, .silver-card {
		margin: 25px 0px 0px -29px;
		float: none;
		display: table;
		right: -4%;
	}
	/*.hero-static-container {height: 200px;}*/
	.margin-bottom-minus-60 {margin-bottom: 0px;}
	.campaign-banking-container {
		padding: 0 0 0px 0 !important;
		position: relative;
		top: 2px;
	}
	.col-md-9 * > li {line-height: 1.8;}
	.row {margin-bottom: 34px;}

/*END--------------- (My World) Banking - for Mobile --------------*/

 /*#region ------------->>> Media Queries (min-width: 801px) and (max-width: 1024px) <<<<<<<------------- */
@media (min-width: 801px) and (max-width: 1024px) {
	.right-align { left: 77%;width: unset;}
	.view-banking-fees {
		color: white;
		border: 1px solid #fff;
		margin-right: 6px;
		margin-bottom: 10px;
	}
	.myWorld-campaign-images {width: 100%;}
	.banking-options-buttons {margin-left: 40px;}
	/* Start Banking Fees Table*/
	.fees-table {
		right: -28% !important;
		top: 12%;
	}
	/*End Fees Table*/
	.banking-key-messaging-middle-row {
		width: 104%;
		margin-left: 58px;
	}
	.margin-bottom-68 {margin-bottom: 8% !important;}
	.swapped-banking-row {background-color: #f7f7f7;}
	.internet-banking-row {
		margin-bottom: -20px;
		padding-top: 0px;
	}
}
/*#endregion*/
/*#region ------------->>> Media Queries (min-width: 1025px) and (max-width: 1441px) <<<<<<<------------- */
@media (min-width: 1025px) and (max-width: 1441px) {

	.banking-options-buttons {margin-left: 40px;}
	.myWorld-campaign-images {width: 100%;}
	.fees-table {right: -30% !important;}
	.banking-key-messaging-middle-row {
		width: 104%;
		margin-left: 58px;
	}
	.margin-bottom-68 {	margin-bottom: 2% !important;}
	.key-messaging-image-view {
		max-height: 368px;
		top: 88px;
		margin-top: 8px;
		float: right;
		margin-right: -65px;
	}
	.swapped-banking-row {
		align-content: center;
		background-color: #f7f7f7;
		height: 321px;
		width: 100%;
		margin-top: 0px;
	}
}
/*#endregion*/
/*#region ------------->>> Media Queries (min-width: 1025px) and (max-width: 2560px) <<<<<<<------------- */
@media (min-width: 1025px) and (max-width: 2560px) {
	
	.banking-options-buttons {margin-left: 57px;}
	.cellphone-button-banking-campaign {margin-right: 5px;}
	.myWorld-campaign-images {width: 100%;}
	.fees-table {right: -12% !important;}
	.shrinker {
		width: 72%;
		margin: 0% 9%;
		margin-top: 2px;
		margin-bottom: 18px;
	}
	.banking-key-messaging-middle-row {
		width: 104%;
		margin-left: 58px;
	}
	.margin-bottom-68 {margin-bottom: 2% !important;}
	.key-messaging-image-view {
		max-height: 368px;
		top: 88px;
		margin-top: 8px;
		float: right;
		margin-right: 49px;
	}
	.swapped-banking-row {
		align-content: center;
		background-color: #f7f7f7;
		height: 387px;
		width: 100%;
		margin-top: 0px;
	}
	.last-swapped-banking-row-height {	height: 375px !important;}
	.banking-row {
		height: 336px !important;
		width: 100%;
		margin-top: 0px;
		margin-left: 270px;
	}
}
/*#endregion*/
/*#region ------------->>> Media Queries (min-width: 1440px) and (max-width: 2560px) <<<<<<<------------- */
@media (min-width: 1440px) and (max-width: 2560px) {

	.view-banking-fees {
		color: white;
		border: 1px solid #fff;
		margin-bottom: 10px;
	}
	.cellphone-button-banking-campaign {margin-right: 5px;}

	.margin-bottom-68 {margin-bottom: 1% !important;}

	.video-header {
		text-align: center;
		max-height: 388px !important;
		overflow: hidden;
	}
}
/*endregion*/

/*#region --Banking page*/

	.open-table {
		border-color: #f6f9f600 !important;
		display: inline-block;
		margin-bottom: 0;
		font-weight: normal;
		text-align: center;
		vertical-align: middle;
		touch-action: manipulation;
		cursor: pointer;
		white-space: nowrap;
		padding: 22px 12px;
		font-size: 14px;
		border-radius: 100%;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

    .linen {
        width: 300px; 
        border-bottom: solid 1px rgba(0,0,0,0.2);
        margin: 35px auto;
    }
    .button-balance-margin {margin-top: 44px;}
    .view-banking-fees {
        color: white;
        border: 1px solid #fff;
        margin-bottom: 10px;
    }
    .hr-banking {
        margin-top: 35px;
        margin-bottom: 35px;
        border: 0;
        border-top: 1px solid #00132a;
    }
    .black-card-shared-card {
        width: 100%;
        margin-top: -27%;
    }
    .banking-article-content {margin-left: 172px;}
    .banking-swapped-rows-container {
        margin: 0px;
        width: 100%;
        padding: 0px;
    }
    ul, ol {line-height: 1.8;}
    .learn-more-banking {
        color: white;
        text-align: center;
        display: block;
        margin: auto;
        box-shadow: 0 2px 40px 0 rgba(0,0,0,.3) !important;
    }
    /*.open-table {
        background-color: #002b60 !important;
        border-color: #f6f9f6 !important;
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        border-radius: 5px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    } */
    .tbl-header-selected-banking {text-align: center;}
    .col-md-9 {margin-bottom: 33px;}
    .center-align-color-white {
        text-align: center;
        color: white !important;
    }
    .left-align-color-white {
        text-align: left;
        color: white !important;
    }
    .african-bank-benefits {
        font-size: medium;
        margin-left: 4px;
        line-height: 33px;
    }
    .banking-green-pointer {
        width: 20px;
        height: 20px;
        background: #89bc47;
        position: absolute;
        transform: rotate(45deg);
        left: 50%;
        margin-top: -70px;
    }
    .banking-container {
        padding-bottom: 48px;
        color: #ffffff;
        height: auto;
    }
    .tbHeader {color: white !important;}
    .african-bank-blue {
        font-size: 18px;
        font-weight: 500;
    }
    .green-with-bold-text-centered {
        color: #88bc47 !important;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }
    .campaign-banking-container {
        padding: 0px 0px 50px 0px;
        position: relative;
        top: 2px;
    }

    .campaign-myworld-container {
        background-image: url('../media/52035/african-banking-1935x255.png'); /* Feb_14 */
        background-size: 1772px;
        position: relative;
        background-color: #002B60;
        padding: 83px 0px 80px 0px;
    }
    .campaign-myworld-container-key-messaging {padding: 35px 0px;}
    .sa-lowest-banking-fees > h3 {color: white;}
    .sa-lowest-banking-fees > * h4 {
        color: #88bc47;
        font-weight: 600;
    }
    .fees-table {
        right: -28%;
        top: 12%;
    }
    .green-button {background-color: #88bc47;}
    .green-color {color: #88bc47 !important;}
    .blue-color {color: #002b60 !important;}
    .blue-button {background-color: #002b60;}
    .font-size-30 {font-size: 30px !important;}
    .font-size-20 {font-size: 20px !important;}
    .myworld-campaign-section-container {
        box-shadow: 0px 0px 50px rgba(0,0,0,0.9);
        color: white;
        padding: 25px;
    }
    .myworld-container {
        background-color: #002b60;
        box-shadow: 0px 0px 50px rgba(0,0,0,0.9);
        color: white;
        padding: 25px;
    }
    .banking-campaign-more-container {
        background: #fff;
        width: 100%;
        position: absolute;
        z-index: 9;
        top: 0;
    }
    .banking-tr-category {
        padding: 10px;
        height: 20px;
        transition: 0.5s;
    }
    .bottom-padding {padding-bottom: 25px;}
    .accordion-toggle {cursor: pointer;}
    .accordion-content {display: block;}
	.span-buttons {width: 195px;}
/*#endregion*/

/*START--------------- Fixed deposit --------------*/
.info-grpahic{

    margin-bottom:20px;

}
.info-grpahic a{
     margin-left: 15px;
    width: 210px;
    margin-bottom: 15px;
}
/*END--------------- Fixed deposit --------------*/

/*START------------- video general page --------------*/
.video-content {
    text-align: center;
    padding: 0px 20px 0px 20px;
}

.video-container {
    width: 75%;
    margin: auto;
    margin-top: 10px;
}

#video-header {
    margin: auto;
    height: 660px;
}

#video-ytd {
    position: absolute;
    z-index: -1;
}

.video-ytd-show {
    z-index: 3 !important;
}

.video-item {
    margin-bottom: 70px;
    margin-top: 25px;
    width: 100%;
    height: 365px;
    box-shadow: 0px 1px 16px -6px #000000;
    position: relative;
}

#video-header-thumb {
    height: 100%;
    position: relative;
}

.video-citation-box {
    position: absolute;
    bottom: 0px;
    margin-bottom: 5%;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

.video-citation h1 {
    font-weight: 600;
	font-size: 44px;
}

.video-item-content {
    padding: 10px 25px 0px 25px;
}

.video-item-img {
    height: 185px;
}

.video-item-img, #video-header-thumb {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.video-play-button .fa-play-circle {
    font-size: 100px;
}

.landing-video-description p {
    font-size: 25px;
}

.landing-video-description span {
    display: block;
	 font-size: 18px;
    line-height: normal;
}

.video_list_item:hover {
    cursor: pointer;
}


.video-item-title {
    font-size: 24px;
    position: absolute;
    bottom: 10px;
}
.video-item-title, .landing-video-description{
    line-height: 1.71;
}
#video-loader {
    display: none;
    padding-top: 13%;
    width: 100%;
    height: 100%;
    background: #002b60;
    opacity: 0.8;
	padding:22%;
}

    #video-loader .loader {
        width: 10rem;
        height: 10rem;
        margin: auto;
        border: 8px solid #89bd47;
        border-left-color: rgba(137,189,71,.2);
    }

.video-thumb-none {
    background-image: none !important;
}

/*END------------- video general page --------------*/

/*START------------- investment campaing page --------------*/

#grow-video{
    background:white;
    min-height:473px;
}

#grow-video p{
    padding:25px;
    line-height:30px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 8px;
}


.story_title {
    font-size: 20px;
    font-weight: 200;
    color: #464855;
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 15px;
}

.story_block {
    margin-bottom: 0px;
    padding: 25px;
}

.story_content {
    padding-left: 20px;
    padding-right: 20px;
    background: #FFFFFF;
    height: 250px;
}

.story_description {
    line-height: 20px;
}

.story_image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
}

.story_image_block {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.product-info .image {
    background-image: none;
}

.image .story_item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
}

/*END------------- investment campaing page --------------*/

/*START-------------CAMPAING-------------*/

.dece-img{
	width: 80%;
	margin-top:10%;
}

#dece-offer {
	
	margin-bottom:50px;
}
#dece-offer .col-md-4 {
	text-align:center;
}

.campaign-more{

	margin-top:15px;
}
.campaing-header{
	
	margin: 13% 0% 4%;
    text-align: center;
}
/*END-------------CAMPAING-------------*/

/*START------------- grow for it stories page --------------*/
.image .story_item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
}
/*END------------- grow for itc stories page --------------*/

.blog-image-b {
    font-size: 16px;
    font-weight: bold;
    height: 40px !important;
    width: 48px;
    padding: 13px 11px 11px 18px !important;
    margin-right: 2px;
    text-decoration: none !important;
}

/*START------------- Online Banking --------------*/

.no-deco >* a {
    text-decoration: none;
}

.span-buttons {
    width: 195px;
}

.downloadNow {
    width: 195px;
}

#popUpButton, #popUpButton2 {
    /*background: #88bc47;*/
    color: #fff;
    padding: 10px;
    width: 150px;
    margin: 0px auto 0px;
    border-radius: 3px;
}

#popUpParaDescription, #popUpParaDescription2 {
    margin-top: 20px;
    height: 70px;
}

.left-col {
    border-right: solid 1px #EEEEEE;
}

.left-col, .right-col {
    padding: 10px;
    text-align: center;
}

.marginer {
    margin-top: 54px
}

.checklist-table {
    width: 100%;
    border: 1px solid #00132a;
    padding: 10px;
    box-shadow: 1px 2px 40px rgba(0,0,0,0.3) /*cell-padding*/
}

.checklist-headers {
    background-color: #002553;
    padding: 18px;
}

.empty-table-header {
    min-width: 320px !important
}

.green-pointer {
    width: 20px;
    height: 20px;
    background: #89BC47;
    position: absolute;
    transform: rotate(45deg);
    left: 50%;
    margin-top: -102px;
}
.online-banking-li {
    text-align: center;
    width: 100%;
    color: #88bc47 !important;
}
.checklist-table >* td {
    padding: 10px;
    font-size: 16px
}
.tr-category {
    padding: 10px;
    height: 20px;
    transition: 0.5s;
    background-color: #002553
}

.tr-category:hover {
    background-color: #063877;
    transition: 0.5s;
    cursor: pointer;
    padding-left:15px;
}

.checklist-table >* th {
    text-align: center;
    padding: 10px;
    border-right: solid 1px #00132a
}

.imgQrCode {
    position:fixed;
    z-index: 99;
    top: 25%;
    left: 45%;
    display: none;
    cursor: pointer;
    box-shadow: 1px 2px 40px;
}

.imgQrCode > img, .imgQrCode > fa {
    position: absolute;
}

.imgQrCode > .fa-times-circle {
    position: absolute;
    margin-top: -35px;
    float: right;
    right: -239px;
    font-size: 31px;
    color: #88bc47;
}

.overlayz {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    left: 0px;
    top: 0px;
}

#createMail {
    cursor: pointer;
    color: #002b60;
    transition: 0.5s;
    font-weight: 900
}

#qrCode:hover {
    color: #6b6f81;
    transition: 0.5s;
    text-decoration: underline
}
.internet-banking-container full {
padding: 50px;
position: relative;
top: -60px
}

.borderbottom {
    border-bottom: 1px solid #e8e8e8;
    padding: 0px 0px 40px 0px;
    text-align:center;
}

.tAndC {
    font-size: small;
}

.bolder {
    font-weight:900;
}

.ctalinks {
    text-align: right;
    margin: 10px;
}
.ctabuttons {
    text-align: center;
    max-width: 200px;
    margin: AUTO;
    display: inline-block;
    margin-top: 1px;
    margin-right: 30px;
	margin-bottom: 10px;
}
.ctabuttons > a {
    font-size: 18px;
    text-decoration:  none;
    padding: 12px 20px 20px 20px;
    border-radius: 3px;
    border: 1px solid;
    color: #00132a;
    padding-bottom: 10px;
    transition:0.3s;
}
.ctabuttons > a:hover {
    transition: 0.3s;
    background: #00132a;
    color:#fff;
    border-radius: 3px;
}
.number-to-call {
    text-align: center;
    background-color: #e8e8e8;
    padding: 20px;
}

.number-to-call > h3 {
    font-size: 48px;
    font-weight: 900
}
.number-to-call > p {
    font-size: 24px
}
.internet-banking-row {
    margin-bottom: -20px;
    padding-top: 35px;
}
.internet-banking-row-swapped {
    position: absolute;
    right: 7%;
}

.online-banking {
    font-size: 38px;
    margin-bottom: 20px;
}

.ul-bullets {
    text-indent: 0px;
    margin-bottom: 10px;
    margin-top: 0;
}

.online-background {
    background-color: #f7f7f7;
    margin-top: -100px;
}

.view-tutorials {
    float: right;
}

.transitor {
    transform: rotateX(180deg) !important;
    transition: 0.5s;
}

#icon1, #icon2, #icon3, #icon4, #icon5, #icon6, #icon7, #icon8 {
    transition: 0.5s;
}
/*END--------------- Online Banking --------------*/
.nav > li > a {
    padding: 10px 5px;
}
.margin-bottom-minus-50 {
    margin-bottom:-50px;
}
.margin-bottom-minus-10 {
    margin-bottom: -10px;
}

.img-bg:before {
    content: attr('Test Alt on background images')
}

.st-panel {
    height: auto;
}
#form_fields{
    display:none;
}
#form-loader {
    position: absolute;
    margin-top: 50%;
    width: 100%;
    z-index: 1;
    display:none;
}
}
/*START----------------Button styles----------------------*/
.btn-full-width {
    width: 100%;
}
/*END----------------Button styles----------------------*/

#st-panel-submit, .st-panel-submit {
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    padding: 13px;
    height: 53px;
    border-radius: 4px;
}

.call-me {
    background: #1e9ff2;
    margin-bottom: 12px;
}

.quick-loan {
    background: #002b60;
    margin-bottom: 12px;
}

#call_me_success {
    padding: 20px;
    display: none;
}

.call_me_success_header {
    text-align: center;
    padding: 10px;
    background: #28D094;
}

.call_me_success_header_icon {
    background: white;
    border-radius: 50px;
    padding: 3px;
    margin-right: 12px;
    color: #28D094;
    background: white;
}

.call_me_success_header_title {
    color: white;
}

#call_me_success_body {
    text-align: center;
    margin-top: 40px;
}

#call_me_success_fotter {
    text-align: center;
}

#creditAPI .glyphicon {
    top: 33px;
    font-size: 23px;
    margin-right: 10px;
}

#creditAPI .glyphicon-ok-sign {
    color: #88BC47;
}

#creditAPI .glyphicon-remove-sign {
    color: #FF4C64;
}

html, body {
    height: 100%;
    margin: 0px;
}

.top-header {
    height: 75%;
    background: black;
}

main {
    /*width: 100%;
    height: 100%;*/
}

.hero-container .carousel .item {
    height: 100%;
	background-position: 80% 20%;
}

.hero-container {
    height: 100%;
}

.top_extend {
    height: 100% !important;
}

.hero-caption { /* start Feb_14 */
    padding-top: 10px;
    margin-top: 86px; 
    padding: 35px;
    color: #fff;
    height: 550px;
    position: absolute;
    width: 440px;
    right: 38px;
} 
/*---------------------------------------*/
.cap-title {
    padding-right: 6px;
    font-size: 44px;
    font-weight: 700;
    color: #bed130 !important;
/*---------------------------------------*/	
}

.hero-description {
    display: none;
}

.hero-title {
    display: inline-block;
    color: white !important; 
}/* end Feb_14 */

.navbar-default .navbar-nav > li > a.register-btn {
    font-size: 12px;
    color: #88bc47;
}

#custom_footer {
    font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    background-color: #002b60;
    color: #ffffff;
    padding: 80px 0 50px 0;
    height: auto;
    font-weight: 200;
    overflow: hidden;
}

    #custom_footer a {
        color: #ffffff;
        text-decoration: none;
    }

        #custom_footer a:hover, footer a:focus, footer a:active {
            color: #ffffff;
            text-decoration: none;
        }

    #custom_footer ul {
        padding-left: 0;
        margin-bottom: 0;
    }

        #custom_footer ul li {
            list-style: none;
            margin-top: 20px;
        }

    #custom_footer .footer-category .heading {
        text-transform: uppercase;
        font-weight: 600;
    }

    #custom_footer .footer-contact {
        font-size: 24px;
        font-weight: 100;
        color: #ffffff;
    }

    #custom_footer .footer-contact li {
        display: table;
    }

        #custom_footer .footer-contact li .icon {
            display: table-cell;
            margin-right: 10px;
            width: 25px;
            height: 26px;
        }

        #custom_footer .footer-contact li span {
            display: table-cell;
        }

    #custom_footer .footer-contact .heading {
        font-weight: bold;
    }

#custom_footer .footer-copyright {
    border-top: 1px solid #89bb4f;
    font-size: 9px;
    margin-top: 60px;
    padding-top: 30px;
}

#custom_footer .footer-copyright .copyright-text {
    font-size: 10px;
    font-weight: 200;
    margin-top: 30px;
}

#custom_footer .footer-copyright .pattern {
    position: absolute;
    bottom: -80px;
}

#custom_footer .footer-social {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background-color: #002b60;
    border: solid 1px #88bc47;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.03);
    color: #88bc47;
    padding: 15px;
    margin-left: 5px;
    text-align: center;
    font-size: 18px;
}

#custom_footer .footer-social:hover {
    color: #ffffff;
}

.mobi-table {
    display: none;
}

.desk-table {
    display: block;
}

.spacer-popup {
    margin-top: 60px !important;
}

@media only screen and (min-width: 1824px) {/* start Feb_14 */    

    .hero-caption {
        padding-top: 34px;
        margin-top: 236px;
        padding: 36px;
        color: #fff;
        height: 565px;
        position: absolute;
        width: 489px;
        right: 88px;
    }
    .cap-title {
        padding-right: 6px;
        font-size: 52px;
        font-weight: 700;
        color: #bed130 !important;
    }
    .hero-title {
        line-height: 1.3;
    }
}

@media (max-width: 360px)  {
	.right-align {
		left: unset;	
	}
	.container {
		margin-right: auto;
		margin-left: auto;	
	}
	.savings-pocket-top-header {margin-top: 30px;}
	.mega-tabs .nav-tabs>li.active:after {
		/* bottom: 12px; */
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(136,183,213,0);
		border-top-color: #88bc47;
		border-width: 9px;
		margin-left: -9px;
		/*top: 56px;*/
	}
	.mega-tabs .nav-tabs>li.loan-summary {
		padding: 7px;
	}
	
	#table-toggle {
		display: none;	
	}
	.hero-caption .hero-title {
        font-size: 25px;
    }

    .hero-caption .hero-title {
        font-size: 25px;
    }
}
@media (min-width: 426px) and (max-width: 768px)  {
	.right-align {
		left: 70%;
    	width: unset;	
	}
}
@media (min-width: 376px) and (max-width: 425px)  {
	.right-align {
		left: unset;	
	}
}
@media (min-width: 361px) and (max-width: 375px)  {
		.right-align {
		left: unset;width:unset;			
	}
	.mega-tabs .nav-tabs>li.active:after {
		bottom: -18px;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(136,183,213,0);
		border-top-color: #88bc47;
		border-width: 9px;
		margin-left: -9px;
		top: 68px;
	}
}
@media (min-width: 376px) and (max-width: 414px)  {
	.mega-tabs .nav-tabs>li.active:after {
		bottom: -18px;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(136,183,213,0);
		border-top-color: #88bc47;
		border-width: 9px;
		margin-left: -9px;
		/*top: 68px;*/
	}
}
@media (max-width: 767px) {

	/* Start Transactional Banking */
	.floating-button, .span-buttons, .key-messaging-image-view {
		float: none;
		display: table;
		margin: 0 auto;
	}
	.green-button {
		float: none;
		display: table;
		margin: 0 auto;
	}
	#btnFeaturesTable {display: none;}
	/* End Transactional Banking*/
	
    /* Start Online Banking - for Mobile */

    .spacer {
        margin-top: 30px !important;
    }

    .spacer-popup {
        margin-top: 60px !important;
    }

    .mobi-table {
        display:block;
    }

    .desk-table {
        display: none;
    }

    .tr-category {
        height: auto;
    }

    internet-banking-container {
        margin-top: 25px;
    }

    internet-banking-row > * img {
        width: 100%;
        max-width: 300px;
    }

    .article-title online-banking {
        font-size: 24px;
    }

    .internet-banking-row-swapped {
        position: relative;
        text-align: center;
    }

    .mega-tabs .nav-tabs > li {
        Font-size: 24px;
    }

    /* End Online Banking - for Mobile */


    .hero-caption .hero-title {
        margin-top: 0;
        font-size: 25px !important;
        margin-bottom: 15px;
    }
    
    #custom_footer {
        text-align: center;
    }

    #custom_footer ul {
        margin-bottom: 50px;
    }

    #custom_footer .footer-category:first-child {
        padding-left: 15px;
    }

    #custom_footer .footer-category:last-child {
        padding-right: 15px;
    }

    #custom_footer .footer-copyright {
        padding: 30px 0 0 0;
    }

    #custom_footer .footer-copyright .copyright-text {
        font-size: 12px;
        margin-top: 35px;
    }

    #custom_footer .footer-copyright .pull-right {
        float: none !important;
    }

    #custom_footer .footer-copyright .pattern {
        left: 0;
        bottom: auto;
        top: -140px;
    }

    #custom_footer .footer-social {
        margin-bottom: 40px;
    }

    #custom_footer .footer-social:first-child {
        margin-left: 0;
    }

    #custom_footer .footer-contact {
        font-size: 18px;
        font-weight: 300;
    }

    #custom_footer .footer-contact li {
        display: block;
    }

    #custom_footer .footer-contact li .icon {
        display: block;
        margin: 0 auto 10px;
    }

    #custom_footer .footer-contact li span {
        display: block;
    }

    #custom_footer .footer-contact .heading {
        font-weight: bold;
    }
	
	/* Start Home Page - Mobile  */
    /* start Feb_14*/
    .cap-title {
        padding-right: 6px;
        font-size: 30px;
        font-weight: 700;
        color: #bed130 !important;
		line-height: normal;
    }

    .hero-caption .button {
        position: relative;
    }

    .hero-caption {
        padding-top: 0px;
        margin-top: 0px;
        padding: 35px;
        color: #fff;
        height: 550px;
        position: relative;
        width: 100%;
        right: 0px;
        text-align: center;
        top: 50px;
    }

    #Home_Applynow_HeroHeader {
        margin: auto;
    }

    .top_extend {
        padding-top: 0%;
        background-color: #3a3a3a;
    }
    /* end Feb_14*/
    /* End Home Page - Mobile */
}

.area_search {
    margin-top: 1.5%;
}

.global-search-bar {
    position: absolute;
    width: 100%;
    z-index: 9999;
    top: 0px;
    background-color: #002B60 /*#88bc47*/;
    height: 109px;
    padding-right: 10px;
    padding: 6px 10px 5px;
    display: none;
}

.search-text {
    margin-right: 1%;
}

.global-search-new-close-btn {
    top: 10px;
    background-image: url(/Content/themes/base/images/icon_close_search_bar.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 29px;
    height: 29px;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-right: 34px;
    float: right;
    cursor: pointer;
    position: absolute;
    right: 0px;
}

.global-search-bar .global-search-results ul > li > a {
    color: #999;
}

.global-search-bar input {
    background-color: white;
    border: none;
    box-shadow: none;
    color: #002B60;
    width: calc(100% - 90px);
    margin: 5px 30px 5px 5px;
}

#site_search input:focus {
    outline: none;
}

.navbar-brand {
    height: 107px;
    padding-right: 10px;
}


#site_search ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
    font-size: 2rem;
}

#site_search ::-moz-placeholder { /* Firefox 19+ */
    color: white;
    font-size: 2rem;
}

#site_search :-ms-input-placeholder { /* IE 10+ */
    color: white;
    font-size: 2rem;
}

#site_search :-moz-placeholder { /* Firefox 18- */
    color: white;
    font-size: 2rem;
}

#site_search .form-control:focus {
    outline: none;
}

.global-search-bar .global-search-results {
    background-color: #fff;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,.2);
    display: none;
    margin: 0;
    padding: 1rem;
    position: absolute;
    top: 105px;
    right: 0;
    left: 0;
    z-index: 1;
}

.global-search-bar .global-search-results ul {
    line-height: 20px;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}
 

/*-Start ----------- Home page--------------------------------*/
.hero-caption .hero-title { /* start Feb_14 */
    font-size: 28px;
}

.hero-caption .hero-description {
    font-size: 18px;
}

.bank-story-read-more {
    margin-top: 10%;
}

.bank-story-caption .bank-story-title {
    margin-top: 17px;
    font-size: 30px;
} /* end Feb_14 */


/*-END ----------- Home page--------------------------------*/
/*START----------------frequently asked questions page----------------------*/
.filter select, .filter .input-group {
    border: solid 1px #b3b3b3 !important;
}
/*END----------------frequently asked questions page----------------------*/

/*Start----------------grow for it page----------------------*/
#hero_vid {
    height: 865px;
    background-color: gray;
}
#play-area {
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 9999999;
    margin-top: 15%;
}
#play-button {
    margin: auto;
    width: 150px;
    height: 150px;
    border: solid 5px #002b60;
    border-radius: 50%;
    text-align: center;
    position: relative;
    background: white;
}
#play-button span {
    top: 15%;
    font-size: 84px;
    position: absolute;
    margin: auto;
    width: 10%;
    left: 50px;
    color: #88bc47;
}
#play-loader {
    display:none;
    font-size: 42px;
    font-weight: 400;
    color: #595959;
}
#play-loader #form-preloader-loader{
    border-color: gray;
    border-left-color: black;
    width: 10rem;
    height: 10rem;
}
/*END----------------grow for it  page----------------------*/
/*-Start ----------- shared error messafes--------------------------------*/
#calculator .msg-error {
    background: #FF4961;
    color: white;
    padding: 10px 7px 10px 7px;
    font-size: 11px;
    width: 100%;
}

/*-END ----------- shared error messafes--------------------------------*/

/*-START ----------- gif loader--------------------------------*/

.loader {
    margin: 24px auto;
    font-size: 10px;
    text-indent: -9999rem;
    border: 3px solid #89bd47;
    border-left-color: rgba(137,189,71,.2);
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
    .loader, .loader:after {
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
    }

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#log-claim-preloader, #preloader {
    display: none;
}

/*-END ----------- gif loader--------------------------------*/



/*-Start-------------------------------- product-fixed-deposit-investment--------------------------------------------*/

.card-shadow.rate-card-fixed-deposit-offer {
    max-width: 500px;
}
.infographic
{
	margin-bottom:5%;
	text-align:left;
	padding:0% 3% 0% 3%;
}
.infographic p
{
	font-size:20px;
	    line-height: 30px;
}
.info-img
{
	width:100%;
	margin-bottom:5%;
}
.info-button{
	margin-top: 1%;
}
/*-End-------------------------------- product-fixed-deposit-investment--------------------------------------------*/

/*-Start product-value-added-deals-------------------------------------------------*/
.table-data {
    padding: 0px 60px 15px 60px;
}

.deal-head {
    text-align: left;
    font-weight: 800;
    color: #002B60;
    margin: 10px 0px 10px 0px;
    padding-left: 25px;
    font-size: 16px;
    display: block;
}

#deal-content table .fa {
    font-size: 25px;
    color: #002B60;
}

#deal-content table p {
    width: 130px;
    color: white;
}

.deal ul li {
    text-align: left;
    font-size: 12px;
    color: #002B60;
    line-height: 18px;
}

#list_data li {
    list-style-type: none;
    text-indent: -15px;
}

    #list_data li:before {
        content: "-";
    }

.deal img {
    width: 70%;
}

.deal {
    padding: 0px 20px 20px 20px;
}

.caption-text {
    white-space: nowrap;
}
/*-End product-value-added-deals---------------------------------------------------*/

/*-End product-fixed-deposit-investment--------------------------------------------*/



/*-START---------------------------Financial info reporting------------------------------------------*/
.help-block {
    display: block;
    margin-top: -1px;
    background: red;
    color: white !important;
    padding: 15px 7px 15px 9px;
    font-size: 11px;
}

#userSignUpForm label{
    color:white;
}

.button.default {
    background-color: #f5f5f0 !important;
    color:black;
}

.text-container.reporting .report-files .report-item .report-content {
    text-align: center;
}
/*-End---------------------------Financial info reporting------------------------------------------*/

.indent-text {
    margin-left: 25px;
    display: block;
}

/*-START ----------------talk to us page ----------------------------*/

.branch-locator-input-title-talk-to-us {
    font-size:24px
}

#talk-to-us-numnbers .col-md-4 {
    padding-left: 0px;
    padding-right: 0px;
}
.number-block {
    border-right: 1px solid #dadada;
    padding-top: 20px;
    border-bottom: 1px solid #dadada;
    width: 100%;
    height: 210px;
    padding-left: 25px;
}
/*-END ----------------talk to us page ----------------------------*/
/*-START ----------------call me back ----------------------------*/
.btn-hover-green:hover {
    background-color: #78a93d;
}
.btn-hover-blue:hover {
    background-color: #0d8bd9;
}
.btn-hover-darkerblue:hover {
    background-color: #04244f
}

/*-END ----------------call me back ----------------------------*/



/*-START ----------------Branch locator----------------------------*/

.branch-locator-input
 {
    width: 360px;

}
.branch-locator-map {
    overflow-y: auto;
}

#load_map {
    width: 90%;
    height: 100%;
    padding-left: 46px;
     display: none;
    /*background: red;*/
    margin: auto;
}
#map_display {
    width: 89%;
    height: 230px;
    margin: auto;
    /*background: black;*/
}

#map_ditails {
    width: 89%;
    height: auto;
    margin: auto;
    /*background: green;*/
}

#map_ditails, #map_display {
    padding: 20px 0px 20px 15px;
    color:black;
}

#close_map{
    text-align:center;
}
.search_title {
    display: none;
}

#search_address, #search_contact {
    font-size: 12px;
    color: white;
    margin-bottom: 0px;
    line-height: 1.5;
}

#branch-locator-items table td {
    font-size: 12px;
}

#map_ditails h4{
    border-bottom: solid 2px black;
}

#branch-change-top {
    top: 155px;
}

#talk-to-us-map{

    overflow:unset;
}

#map-table {
    width: 70%;
    margin-left: 130px;
}
/*-END ----------------Branch locator----------------------------*/
#modify-mega-tabs .mega-tabs {
    margin-bottom: 25px;
}
.mega-tabs .nav-tabs > li.funeral-pack {
    width: 25%;
    font-size: 16px;
    height: 190px;
}
.mega-tabs-group-funeral {
    overflow-x: auto;
    overflow-y: hidden;
}

.funeral-pack {
    text-align: center;
}

.base-title {
    width: 100%;
    margin-top: 37px;
}

.funeral-box {
    color: #002b60;
    padding: 40px 20px;
    border: none;
    border: solid 1px #eeeeee;
    font-size: 24px;
    font-weight: 300;
    border-radius: 10px;
}

.form-title {
    background: #F7F7F7;
    text-align: center;
    color: #0A3366;
    font-weight: 600;
    padding: 13px;
    font-size: larger;
    margin-bottom: 40px;
}

.inner-body {
    padding: 0px 60px 0px 60px;
}

.pane-label {
    font-size: 16px;
    display: block;
    margin: 8px 0px 8px -5px;
    font-weight: 600;
}

.lable-color {
    color: #093365;
    margin: 8px 0px 8px 0px;
}

#funeral-section {
    position: relative;
    top: -60px;
}

.funeral-center-box {
    margin: auto;
    text-align: center;
}

.investment-calculator.white-bg {
    border-bottom: solid 1px #eeeeee;
}

.online-banking-container {
    background: #012551;
    padding-bottom: 48px;
    color: #ffffff;
    height: auto;
}

.online-banking-container > * h2 {
    color: #fff;
}
.investment-cal {
    padding-bottom: 5% !important
}

.investment-cal-form {
    position: relative;
    top: 45px;
}

.funeral-tbl-2 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.more-info {
    text-align: center;
}

#funeral_claim label {
    text-transform: uppercase !important;
}

#funeral_claim .help-block {
    background: red;
	color:white !important;
}
	
/*-END ------------------product-funeral-cover--------------------------*/

/*-START ------------------generic boot modal--------------------------*/
.modal .modal-dialog .modal-content .modal-header h4 {
    font-size: 24px;
    text-align: center;
    color: #4a4a4a;
}


.sizer {
    width:99%;
}

.modal .modal-dialog .modal-content .modal-header .close {
    font-size: 40px;
    color: #4a4a4a;
    margin-top: 17px;
    opacity: 1;
    line-height: 0;
    font-weight: lighter;
}

.modal .modal-dialog .modal-content .modal-body .sub_title {
    font-weight: bold;
}

.modal .modal-dialog .modal-content .modal-header {
    border: 0px;
    background-color: #f0f0f0;
}

.modal-footer, .modal-body {
    text-align: center;
}
/*-END ------------------generic boot modal--------------------------*/



/*-START ------------------generic hero and container below--------------------------*/

.campaign-product-container-custom {
    top: -50px;
}
.hero-static-caption{
    margin-bottom:-10px;
}

.hero-caption .hero-description {

    font-weight: 600;
}


/*-END ------------------generic hero and container below--------------------------*/

/*-START ------------------campaign page--------------------------*/


.campaign-more-info-img{
    background:none;
}
.campaign-more-info-img div {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}


/*-END ------------------campaign page--------------------------*/


/*-START ------------------blog detail page--------------------------*/
.hero-static-banner.less-height {
    height: 630px;
}
/*-END ------------------blog detail page--------------------------*/

/*-START ------------------about us our company page--------------------------*/

#TheExecutives .thumbnail,#TheBoard .thumbnail
{
    margin-bottom: 30px;
}
#TheExecutives .thumbnail .caption ,#TheBoard .thumbnail .caption
{
    padding: 15px;
    height: 150px;
}

#profile_about {
    text-align: left;
    padding: 20px 15px 20px 15px;
}
.profile_text, .profile_lable {
    text-align:left;
}
.descrition-board {
    width: 70%;
    margin: auto;
}
/*-END ------------------about us our company page--------------------------*/

/*-------------------------------------------Responsive design section--------------------------------*/
/*Ipadpro  potrait*/
@media only screen and (max-width: 1025px) {
    /*-START-------------------------grow for it------------------------------*/
    #hero_vid {
        height: 590px;
    }
    /*-End-------------------------grow for it------------------------------*/

    .global-search-bar {
        height: 155px;
    }

    .st-btn-container {
        box-shadow: 0px 2px 11px #1a1a1a;
        border-radius: 60px;
    }

    .right-bottom {
        /*right: 8px;*/
    }

    .st-btn-container {
        width: 55px;
        height: 55px;
    }
    /*-START ----------------product-funeral-cover----------------------------*/

    .inner-body {
        padding: 0px;
    }

    #go_to_tab_content img {
        width: 25px;
    }

    .mega-tabs .nav-tabs > li.funeral-pack {
        width: 100%;
    }
    /*-END ------------------product-funeral-cover--------------------------*/
}
/*Ipad  potrait*/
@media only screen and (max-width: 768px) {
	
	 /* Start Home Page */ /*start here Feb_14*/
    hero-description {
        display:block;
    }
	/* End Home Page*/ /*end here Feb_14*/
	
    /*-START-------------------------grow for it------------------------------*/
    #hero_vid {
        height: 430px;
    }
    /*-End-------------------------grow for it------------------------------*/

  /*-Start-------------------------video general page------------------------------*/
      .video-container {
        width: 100%;
    }

    #video-body {
        padding: 5%;
    }

    .video-item-img {
        width: 35%;
        display: inline-block;
        float: left;
    }

    .video-item-content {
        width: 60%;
        display: inline-block;
        float: left;
    }

    .video-item {
        height: 193px;
    }
    /*-End-------------------------video general page------------------------------*/
    .right-bottom {
        bottom: 13em;
    }

    .navbar-brand {
        height: unset;
    }

    .global-search-bar {
        height: 155px;
    }

    .area_search {
        margin-top: 6%;
    }

    .global-search-new-close-btn {
        margin-top: 43px;
    }

    /*-START ----------------product-funeral-cover----------------------------*/



    #go_to_tab_content img {
        width: auto;
    }

    .mega-tabs .nav-tabs > li.funeral-pack {
        width: 100%;
    }

    .inner-body {
        padding: 0px;
    }
    /*-END ------------------product-funeral-cover--------------------------*/

    /*-END ------------------about-us-our-company--------------------------*/
    .bank-story-caption {
       display: block;
        position: relative;
        margin:auto;
    }
    .bank-story-carousel .carousel .carousel-control.left {
        display: inline-block;
        position: absolute;
        left: 0px;
        margin-left: 20px;
    }
    ul.checklist li, .bank-story-caption ul li, .inline-checklist ul li {
        line-height: 2.14;
        text-align: left;
    }
    /*-END ------------------about-us-our-company--------------------------*/

/*-START -------------------Product value added deals-------------------------*/
    .mega-tabs .nav-tabs > li span{
    display:block;
    }
/*-END ------------------Product value added deals--------------------------*/

}
/*Ipadpro  landscape for 768*/
@media only screen and (max-width: 1366px) and (orientation: landscape) 
{

    /*-START-------------------------grow for it------------------------------*/
    #hero_vid {
        height: 768px;
    }
    /*-End-------------------------grow for it------------------------------*/

}

/*Ipad  landscape for 768*/
@media only screen and (max-width: 1024px) and (orientation: landscape) 
{

    /*-START-------------------------grow for it------------------------------*/
    #hero_vid {
        height: 575px;
    }
    /*-End-------------------------grow for it------------------------------*/

    .area_search 
    {
        margin-top: 5%;
    }

    .global-search-bar
    {
        height: 155px;
    }

    .global-search-new-close-btn 
    {
        margin-top: 50px;
    }
/*-START ----------------product-funeral-cover----------------------------*/
    #go_to_tab_content img 
    {
        width: auto;
    }

    .mega-tabs .nav-tabs > li.funeral-pack 
    {
        width: 100%;
    }
/*-END ------------------product-funeral-cover--------------------------*/


/*-START ----------------talk-to-us and find us--------------------------------------*/
    #search_address, #search_contact 
    {
        text-align: left;
    }

    #map-table, #load_map 
    {
        padding: 0px;
        width: 100%;
        margin-left: 0px;
    }

    #map_display {
        width: 100%
    }
/*-END ----------------talk-to-us and find us--------------------------------------*/
}
	
/*Iphone 7  potrait */
@media only screen and (max-width: 414px) 
{
	
	.infographic
		{
			margin-top:5%;
		}
/*-Start-------------------------video general page------------------------------*/
	.video-item-title {
        font-size: 20px;
        bottom: 5px;
    }
    .video-item-description, .video-item-title {
        margin-top: 0px;
        line-height: normal;
    }

    .video-item-img, .video-item {
        height: 141px;
    }

    #video-header {
        height: 362px;
    }

    .landing-video-description span {
        font-size: 16px !important;
    }

    .landing-video-description p {
        font-size: 14px;
    }

    .video-play-button .fa-play-circle {
        font-size: 60px;
    }

    .video-item-content {
        padding-left: 10px;
        padding-right:0px;
    }
/*-End-------------------------video general page------------------------------*/
/*-START-------------------------grow for it------------------------------*/
    #hero_vid {
        height: 204px;
    }

    #play-area {
        margin-top: 15%;
    }

    #play-button {
        width: 80px;
        height: 80px;
    }

    #play-loader {
        font-size: 25px;
    }

    #play-button span {
        left: 23px;
        font-size: 50px;
    }

    #play-loader #form-preloader-loader {
        width: 4rem;
        height: 4rem;
    }
/*-End-------------------------grow for it------------------------------*/

    .blank_image {
        width: 250px;
        height:270px;
    }

    #profile_img{width:100%;}
    .top_extend {
        background: linear-gradient(to top right, #555658, #939498) !important; /* Feb_14 */
    }
    .global-search-bar {
        height: auto;
    }

    .global-search-new-close-btn {
        margin-top: 1.5%;
    }

    .area_search {
        margin-top: 0%;
    }

/*-START ----------------talk-to-us------------------------------------*/

    .branch-locator-input {
        top: auto;
        width: 100%
    }
    #search_address p, #search_contact p {
        text-align:left;
    }
/*-END ----------------talk-to-us--------------------------------------*/

/*-START ----------------Find-us--------------------------------------*/

    #load_map {
        padding-left: 0px;
        width: 100%;
    }
    #map-table {
        margin-left: 0px;
    }
/*-END ----------------Find-us--------------------------------------*/

/*-START ----------------product-funeral-cover----------------------------*/

    #modify-mega-tabs .mega-tabs {
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0px;
    }

    .mega-tabs .nav-tabs > li.active:after {
        /*bottom: 5px;*/
    }
/*-END ------------------product-funeral-cover--------------------------*/

/*START-----------------------------------------call me back-----------------------------------------*/
    .st-panel {
        height: auto;
    }

    .right-bottom {
        bottom: 1em;
    }
/*END-----------------------------------------call me back-----------------------------------------*/

}


/*Ipadx  landscape for 812*/
@media only screen and (max-width: 812px) and (orientation: landscape) {



    /*-START-------------------------grow for it------------------------------*/
    #hero_vid {
        height: 769px;
    }
    /*-END-------------------------grow for it------------------------------*/

    .global-search-new-close-btn {
        margin-top: 55px;
    }

    .area_search {
        margin-top: 6.5%;
    }

    /*START-----------------------------------------call me back-----------------------------------------*/
    .st-panel {
        height: auto;
    }

    .right-bottom {
        bottom: 1em;
    }
    /*END-----------------------------------------call me back-----------------------------------------*/

}
/*Ipad  landscape for 414*/
@media only screen and (max-width: 736px) and (orientation: landscape) 
{
    .global-search-bar {
        height: auto;
    }

    .global-search-new-close-btn {
        margin-top: 1.5%;
    }

    /*START-----------------------------------------call me back-----------------------------------------*/
    .st-panel {
        height: auto;
    }

    .right-bottom {
        bottom: 1em;
    }
    /*END-----------------------------------------call me back-----------------------------------------*/
}
/*Nexus 5X 412 potrait*/
@media (max-width: 412px) {

    .area_search 
    {
        margin-top: 0%;
    }


/*START-----------------------------------------call me back-----------------------------------------*/
    .st-panel 
    {
        height: auto;
    }

    .right-bottom 
    {
        bottom: 1em;
    }
/*END-----------------------------------------call me back-----------------------------------------*/
/*Start-----------------------------------------Home page-----------------------------------------*/
    .hero-caption .hero-title 
    {
        font-size: 30px;
    }
    .hero-caption .hero-description 
    {
        font-size: 15px;
    }
/*END-----------------------------------------Home page-----------------------------------------*/

/*START-----------------------------------------Shared dropdown-----------------------------------------*/

.press-release-dropdown select{
    width:80% !important;
}
    
/*END-----------------------------------------Shared dropdown-----------------------------------------*/

}


/*landscape for Nexus 5X   412*/
@media only screen and (max-width: 736px) and (orientation: landscape) {

    /*-START-------------------------grow for it------------------------------*/
    #hero_vid {
        height: 295px;
    }

    #play-area {
        margin-top: 15%;
    }

    #play-button {
        width: 80px;
        height: 80px;
    }

    #play-loader {
        font-size: 25px;
    }

    #play-button span {
        left: 23px;
        font-size: 50px;
    }

    #play-loader #form-preloader-loader {
        width: 4rem;
        height: 4rem;
    }
    /*-End-------------------------grow for it------------------------------*/



    .area_search {
        margin-top: 0%;
    }

/*-START ----------------talk-to-us------------------------------------*/

    .branch-locator-input {
        top: auto;
        width: 100%
    }

    #search_address p, #search_contact p {
        text-align: left;
    }

    #load_map {
        width: 100%;
        height: 100%;
        display: none;
        margin: auto;
    }
/*-END ----------------talk-to-us--------------------------------------*/

    /*START-----------------------------------------call me back-----------------------------------------*/

    .right-bottom {
        bottom: 1em;
    }
    /*END-----------------------------------------call me back-----------------------------------------*/

/*Start-----------------------------------------Home page-----------------------------------------*/
    .hero-caption {
        padding-top: 10px;
    } 
    .hero-caption .hero-title {
        font-size: 23px;
    }

    .hero-caption .hero-description {
        font-size: 14px;
    }
/*END-----------------------------------------Home page-----------------------------------------*/

}

/*Galaxy 360 potrait*/
@media (max-width: 360px) {

	    /*-Start ------------------------ Home Page ------------------------------------*/ /* start Feb_14 */

    .hero-caption .hero-title {
        font-size: 25px;
    }

    .hero-caption .hero-title {
        font-size: 25px;
    }

    /*-End -------------------------- Home Page -------------------------------------*/ /* end Feb_14 */

	
	 /*-Start-------------------------video general page------------------------------*/


    .video-item-description {
        font-size: 14px !important;
    }
    /*-End-------------------------video general page------------------------------*/
	
    .navbar-brand {
        height: 65px;
        padding: 20px 0 20px 20px;
    }

    .area_search {
        margin-top: 0%;
    }

    .global-search-new-close-btn {
        margin-top: 10px;
    }
    /*START-----------------------------------------call me back-----------------------------------------*/
    .st-panel {
        height: auto;
    }
    /*END-----------------------------------------call me back-----------------------------------------*/

footer .footer-copyright{
	margin-top:100px;
	}

   
	/*START-----------------------------------------home page-----------------------------------------*/
	.hero-caption .hero-description {
			font-size: 15px;
		    display: block;
		}
	.hero-caption .hero-title {
			font-size: 25px;
		}
	
    /*END-----------------------------------------home page-----------------------------------------*/

}


/*Galaxy potrait*/
@media only screen and (max-width: 640px) and (orientation: landscape) {
    .top-header {
        height: 58%;
    }

    .right-bottom {
        bottom: 2em;
    }
    .global-search-new-close-btn {
        margin-top: 10px;
    }

    .area_search {
        margin-top: 0%;
    }


    /*Start-----------------------------------------Home page-----------------------------------------*/

    .hero-caption{

        padding-top:10px;

    } 
    .hero-caption .hero-title {
        font-size: 17px;
        margin-bottom:10px;
    }

    .hero-caption .hero-description {
        font-size: 11px;
    }
	
	.bank-story-read-more{
	margin-top:15%;
		
	}
    /*END-----------------------------------------Home page-----------------------------------------*/


    }
.padding-left-20{
	padding-left:20px;
}
.padding-right-15 {
	padding-right: 15px;
}
/*-------------------------------------------Responsive design section--------------------------------*/

