/*#region Homepage*/
.homepage .banner_menu_block .banner-video .video-container video {
  top: 50% !important;
  left: 50% !important;
}
.select-wrapper:before {
  border-radius: 1.3px;
  width: 5.5rem;
}
.select-wrapper:after {
  display: inline-block;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  width: 0;
  right: 2.5rem;
  top: 2.1rem;
}
/*#endregion Homepage*/
/*#region Banner*/
/*#region video*/
.banner-video .video-container video {
  top: auto !important;
  left: auto !important;
}
.global-search-bar .search-placeholder-text imput {
  margin: 0;
}
@media (max-width: 991px) {
  .banner-video .video-container video {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
}
/*#endregion video*/
/*#endregion Banner*/
.homepage .learn-more-row .block_learn_more .content_more {
  height: 250px;
}
.list-text-sections .classeie {
  display: table;
  width: 100%;
}
.list-text-sections .classeie .classe_list_ie {
  display: block;
}
.list-text-sections .classeie .col-eq-height {
  display: table-row;
  width: 100%;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .list-text-sections .classeie .col-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: block;
  }
}
.list-text-sections .classeie .separator {
  height: 100%;
  display: table-cell;
  vertical-align: top;
  float: none;
}
.produc-details {
  /*.separator {
            height: 100%;
            display: table-cell;
            vertical-align: top;
            float: none;
        }*/
}
.produc-details .col-eq-height {
  display: table-row;
  width: 100%;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .produc-details .col-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: block;
  }
}
.row-eq-height {
  display: table;
  width: 100%;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: block;
  }
}
.row-eq-height .columns {
  height: 100%;
  display: table-cell;
  vertical-align: top;
  float: none;
}
@media (max-width: 767px) {
  .row-eq-height .columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: block;
  }
}