.button {
    padding: 16px 35px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: antialiased;
    transition: all 1s ease;
    display: inline-block;
    cursor:pointer;
    &:hover,
    &:active,
    &:focus {
        color: #ffffff;
        text-decoration: none;
    }

    &.primary {
        background-color: #002b60;

        &:hover {
            background-color: $color-green;
            color: #fff;
        }
    }

    &.secondary {
        background-color: #88bc47;

        &:hover {
            background-color: #fff;
            color: $color-green;
        }
    }

    &.small {
        padding: 15px 20px;
        font-size: 13px;
    }

    &.rounded {
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 4px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 767px) {
    .rounded {
        width: 100%;
    }
}