.campaign-apply {
    padding: 0 50px 50px 50px;
    .button.primary {
        &:hover {
            background-color:$color-green;
            color:#fff;
        }
    }
}

@media (max-width: 767px) {
    .campaign-apply {
        padding: 40px;
         margin-top:10px;
    }
}

.campaign-apply-container-bordered {
    padding-top:50px;
    margin-bottom:50px;
    @media (max-width: 767px) {
        padding-top:0;
        margin-bottom:0;
    }
}