
$carousel-height:550px;

.home-variation2 {
    $carousel-height-var2:388px;
    .hero-container {
        .carousel {
            height: $carousel-height-var2;
            .item {
                height: $carousel-height-var2;
                background-position: center;
            }
        }
    }
    .hero-caption {
         width: $carousel-height-var2;
         height: $carousel-height-var2;
         @media (min-width:1200px) {
             margin-right:14%;
         }
     }
}

.hero-container {
    background: #f6f6f6;

    .carousel {
        height: $carousel-height;

        .pattern {
            position: absolute;
            z-index: 9;
            left: -63px;
        }

        .item {
            height: $carousel-height;
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;
        }

        .carousel-control {
            text-shadow: none;
            opacity: 1;
            top: inherit;
            font-size: 18px;
            transition: all 0.25s ease;
            width: 60px;
            height: 60px;
            border-radius: 60px;
            padding: 18px;
            background: #ffffff;
            background-image: none;
            -webkit-text-stroke-width: 1px;
            text-stroke: 1px;
            bottom: 50%;

            [class^="icon-"], [class*=" icon-"] {
                &:before {
                    color: #acacac;
                }
            }

            &:hover,
            &:focus {
                background: #88bc47;

                [class^="icon-"], [class*=" icon-"] {
                    &:before {
                        color: #ffffff;
                    }
                }
            }

            &.left {
                left: -100px;
            }

            &.right {
                right: -100px;
            }
        }

        .carousel-indicators {
            bottom: 40px;
            right: 25px;
            width: auto;
            margin-left: 0;
            left: auto;

            li {
                width: 40px;
                height: 4px;
                background-color: #ffffff;
                border-radius: 0;
                border: none;
                opacity: 0.4;
            }

            .active {
                width: 40px;
                height: 4px;
                opacity: 1;
                margin: 1px;
                background-color: #002b60;
            }
        }
    }
}

.hero-caption {
  background: rgba(136, 188, 71, .85);
  padding: 35px;
  color: #002b60;
  width: $carousel-height;
  height: $carousel-height;
  float: right;

  .hero-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 52px;
    line-height: 1.03;
  }

  .hero-description {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  .button.primary {
      &:hover {
      background-color:#fff;
      color:$color-blue;
      }
  }
}


.popular-rates {
    font-size: 14px;
    font-weight: bold;
    color: #002b60;
    margin-bottom: 20px;
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;

    li {
        float: left;
    }

    .rate-circle {
        width: 65px;
        height: 65px;
        border-radius: 65px;
        background-color: transparent;
        border: 1px solid #002b60;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }
}

.item-count-container {
  position: absolute;
  z-index: 1;
  bottom: 38px;
  right: 180px;
  font-size: 45px;
  font-weight: bold;
  color: #ffffff;
}

@media (max-width: 767px) {
  .hero-caption {
    width: auto;
    height: auto;
    float: none;
    background-color: rgba(89, 139, 27, 0.75);

    .button {
      position: absolute;
    }

    .hero-title {
      margin-top: 0;
      font-size: 25px;
      margin-bottom: 15px;
    }
  }

  .hero-container {
    .carousel {

        .carousel-indicators {
            right: 0;
            width: 100%;
            left: auto;

            li {
                display: inline-block;
                width: 10px;
                height: 10px;
                margin: 1px;
                text-indent: -999px;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                background-color: #ffffff;
                opacity: 1;
            }

            .active {
                margin: 0;
                width: 12px;
                height: 12px;
                background-color: #164dff;
                
            }
        }

      .carousel-control {
        &.left,
        &.right {
          bottom: 261px;
        }

        &.left {
          left: 35px;
        }

        &.right {
          left: 130px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .hero-container {
        .carousel {
            .pattern {
                left: 0;
            }

            .carousel-control {
                bottom: 10%;

                &.left {
                    left: 55px;
                }

                &.right {
                    left: 125px;
                    right: auto;
                }
            }
        }
    }
}