.mega-tabs {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(69, 73, 91, 0.08);
    margin-bottom: 60px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    z-index: 10;

    .eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .small-text {
        > li {
            font-size: 16px !important;
        }
    }

    .nav-tabs {
        border: none;

        > li {
            color: #002b60;
            padding: 40px 20px;
            border: none;
            border-right: solid 1px #eeeeee;
            font-size: 24px;
            font-weight: 300;

            .descr {
                font-size: 12px;
                text-transform: none;
            }

            &:last-child {
                border-right: none;
            }

            [class^="icon-"], [class*=" icon-"] {
                font-size: 32px;
                vertical-align: middle;
                margin-right: 27px;
            }

            img {
                margin-right: 10px;
            }

            &.branch-tab {
                width: 50%;
            }

            &.campaign-more {
                width: 50%;
            }

            &.three-tabs {
                width: 33%;
            }

            &.loan-summary {
                width: 25%;
                font-size: 16px;

                [class^="icon-"], [class*=" icon-"] {
                    display: block;
                    margin-bottom: 10px;
                    margin-right: 0;
                    font-size: 26px;
                }

                &.active {
                    > a {
                        color: #002b60;
                    }
                }
            }

            &.active {
                &:after {
                    bottom: -18px;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(136, 183, 213, 0);
                    border-top-color: #88bc47;
                    border-width: 9px;
                    margin-left: -9px;
                    ;
                }

                > a,
                > a:hover,
                > a:focus {
                    color: #88bc47;
                    border: none;
                }
            }

            a {
                border: none;
                padding: 0;
                margin-right: 0;

                &:hover,
                &:focus {
                    background: none;
                }
            }
        }
    }
}

.tab-category {
    font-size: 18px;
    margin-bottom: 10px;
  display: none;
  text-align: center;
  color: #88bc47;
  text-transform: uppercase;
  font-weight: 400;
}

@media (min-width: 767px) and (max-width: 991px) {
  .mega-tabs {
    .nav-tabs {
      > li {
        padding: 27px;

        &.loan-summary {
            img {
                display: block;
                margin: 0 auto 10px;
            }
        }
        
        a {
          padding: 0;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .mega-tabs {
    margin-bottom: 20px;

    .nav-tabs {
      > li {
        font-size: 12px;
        padding: 30px 20px;

        .descr {
            display: none;
        }

        &.loan-summary {
          padding: 20px;

          > a {
            padding: 0;
            text-align: center;
          }

          img {
              margin-right: 0;
          }

          [class^="icon-"], [class*=" icon-"] {
            margin-right: 0;
            font-size: 30px;
          }
        }

        [class^="icon-"], [class*=" icon-"] {
          font-size: 20px;
          margin-right: 10px;
        }
      }
    }
  }

  .tab-category {
    display: block;
  }
}