.inline-checklist {
    ul {
        @extend .checklist;
        li {
            font-size:14px;
            line-height:24px;
        }
    }
}

.our-mission {
    p {
        font-size: 14px;
        line-height: 1.71;
        color: #6b6f82;
        margin-bottom: 30px;
        margin-top:30px;
        @media (min-width:$screen-sm-min){
            width:50%;
        }
        @media(max-width:$screen-xs-max){
            margin-top:60px;
        }
    }
}

.about-us-bottom-text {
    &__item {
        font-size: 14px;
        line-height: 1.71;
        color: #6b6f82;
        p {
            margin-bottom: 30px !important;
        }
        strong {
            font-weight:600;
            font-size:16px;
        }
    }
}