.thumbnail {
    padding: 0;
    overflow: hidden;
    border: 0;
    height: 100%;
    margin-bottom: 0;

    &.shadow {
        box-shadow: 0 2px 6px 0 rgba(69, 73, 91, 0.08);
    }

    > img {
        width: 100%;
    }

    .caption {
        padding: 30px;

        p {
            @extend .body-content;
            line-height: 1.4;
            margin-bottom: 0;

            &.title {
                text-transform: uppercase;
                font-weight: 400;
                font-size: 18px;
                line-height: 1.3;
            }
        }
    }
}