.green-highlight {
  color: #88bc47;
}

.blue-highlight {
    color: #002b60;
}

.grey-highlight {
  color: #c0c4d1;
}

.div-center {
    margin: 0 auto;
}

.job-search {
    width: 600px;
    margin: 0 auto;
}

.vertical-top {
  vertical-align: top;
}

.vertical-middle {
  vertical-align: middle;
}

.vertical-bottom {
  vertical-align: bottom;
}

.position-static {
  position: static !important;
}

.no-border {
  border: none;
}

.no-padding {
  padding: 0;
}

.no-margin {
    margin: 0 !important;
}

.no-left-padding {
  padding-left: 0;
}

.no-right-padding {
  padding-right: 0;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-200 {
  margin-top: 200px;
}

.margin-bottom-0 {
    margin-bottom:0px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-20
{
    margin-bottom:20px;
}
.margin-bottom-30
{
    margin-bottom:30px;
}
.margin-bottom-50
{
    margin-bottom:50px;
}

.width-100 {
    width:100%;
}

.width-70 {
    width:70%;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.bold {
    font-weight: 600 !important;
}

.text-18 {
    font-size: 18px;
}

.text-16 {
    font-size: 16px;
}

.center-icon-text {
    text-align: center;

    .icon {
        margin: 0 auto;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background-color: #f4f5fa;
        padding-top: 27px;

        [class^="icon-"], [class*=" icon-"] {
            font-size: 37px;
            color: #88bc47;
        }
    }

    .image {
        img {
            margin: 0 auto;
            width: 100px;
        }
    }

    .icon-vad {
        font-size: 38px;
    }


    .title {
        padding-top: 25px;
        font-size: 16px;
        font-weight: 400;
    }

    .descr {
        @extend .body-content;
        margin-top: 30px;
        margin-bottom: 0 !important;
    }
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.padded-white {
    background: #ffffff;
    padding: 20px 50px 50px;
}

.padded-grey {
    background: #f7f7f7;
    padding: 20px 50px 50px;
}

.grey-bg {
    background: #f7f7f7;
}

.unstyled-list {
    padding-left: 20px;

    li {
        line-height: 2.14;
    }

    &.no-bullet {
        list-style: none;
        padding-left: 0;

        li {
            line-height: 1.95;
        }
    }
}

.top-minus-90 {
    position: relative;
    top: -90px;
}

.top-minus-60 {
    position: relative;
    top: -60px;
}

.top-0 {
    top: 0!important;
}

.margin-bottom-minus-60 {
    margin-bottom: -60px
}

.border-grid-col {
    border-bottom: 1px solid #dadada;

    p {
        @extend .body-content;
        font-size: 12px;
    }

    [class^="col-"], [class*="col-"] {
        border-right: 1px solid #dadada;
        padding-top: 20px;

        &:last-child {
            border-right: 0;
        }
    }

    &:last-child {
        border-bottom: 0;
    }
}

.line-height-p p {
    line-height:1.71;
}

@media (max-width: 767px) {
    .eq-height {
        display: inherit;
    }

    .job-search {
        overflow-x: auto;
        min-height: 0.01%;
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #f3f3f3;
        padding: 15px;
        box-shadow: 0 2px 6px 0 rgba(69, 73, 91, 0.08);
    }

    .margin-bottom-minus-60 {
        margin-bottom: auto;
    }

   
    .top-minus-90 {
        top: auto;
    }

    .border-grid-col {
        text-align: center;
    }

    .padded-white,
    .padded-grey {
        text-align: center;
        padding: 35px 0 0 0;
    }

    .unstyled-list {
        margin-bottom: 30px;

        li {
            text-align: left;
        }
    }

    .padded-white .row .col-sm-6{
        margin-top:30px;
    }
}

@media (max-width: 1199px) {
    .sm-no-flex {
        display: block;
    }
}